h {
    &1 {
      font-size: 6em;
    }
    &2 {
      font-size: 2em;
    }
    &3 {
      font-size: 1.5em;
    }
    &4 {
      font-size: 1.25em;
    }
    &5 {
      font-size: 1.1em;
    }
    &6 {
      font-size: 1em;
    }
  }